<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue-X</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="app">
    <div>
      <p>v-model绑定属性：</p>
      <input type="text" v-model="message">
    </div>
    <div>
      <p>v-model绑定子对象的属性：</p>
      <input type="text" v-model="person.name">
    </div>
    <div>
      <p>computed计算属性：</p>
      <p>{{ sayHello }}</p>
    </div>
    <div>
      <p>v-html渲染属性：</p>
      <p v-html="html"></p>
    </div>
    <div>
      <p>v-on事件属性：</p>
      <button v-on:click="handleClicked">点击改变我的名字</button>
    </div>
  </div>
  <script type="text/javascript" src="bundle.js"></script>
</body>

</html>