<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue-X</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="app">
    <input type="text" v-model="message">
    <!-- <input type="text" v-model="child.someStr">
    <p>{{ getHelloWord }}</p>
    <p v-html="htmlStr"></p>
    <button v-on:click="clickBtn">change model</button> -->
  </div>
  <script type="text/javascript" src="bundle.js"></script>
</body>

</html>